@-webkit-keyframes black-screen {
  0% {
    background-color: white;
    z-index: 1;
  }
  100% {
    background-color: white;
    z-index: 1;
  }
}
@keyframes black-screen {
  0% {
    background-color: white;
    z-index: 1;
  }
  100% {
    background-color: white;
    z-index: 1;
  }
}
@-webkit-keyframes loading-text {
  0% {
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }
  100% {
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }
}
@keyframes loading-text {
  0% {
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }
  100% {
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: transparent;
  }
  50% {
    transform: scaleY(1);
    background: linear-gradient(#ff79da, #9356dc);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: transparent;
  }
  50% {
    transform: scaleY(1);
    background: linear-gradient(#ff79da, #9356dc);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
@-webkit-keyframes gradually-appear-first {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-first {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes gradually-appear-second {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  40% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-second {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  40% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes gradually-appear-third {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-third {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes gradually-appear-fourth {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  70% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-fourth {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  70% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes heart-appear {
  0% {
    background-image: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background-image: linear-gradient(#ffdff6, #c9abee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background-image: linear-gradient(#ffc6ef, #bc95e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background-image: linear-gradient(#fface8, #ae80e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background-image: linear-gradient(#ff93e1, #a16be0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background-image: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes heart-appear {
  0% {
    background-image: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background-image: linear-gradient(#ffdff6, #c9abee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background-image: linear-gradient(#ffc6ef, #bc95e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background-image: linear-gradient(#fface8, #ae80e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background-image: linear-gradient(#ff93e1, #a16be0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background-image: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@-webkit-keyframes check-animation {
  0% {
    width: 0;
  }
  100% {
    min-width: 50px;
  }
}
@keyframes check-animation {
  0% {
    width: 0;
  }
  100% {
    min-width: 50px;
  }
}
@-webkit-keyframes check-animation-icon {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check-animation-icon {
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .info-section {
    display: flex;
  }
}
.black-screen {
  width: 100%;
  height: 100%;
  -webkit-animation: black-screen linear 2.5s;
          animation: black-screen linear 2.5s;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.black-screen p {
  margin-top: 60px;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(#ff79da, #9356dc);
  background: transparent;
  color: transparent;
  -webkit-animation: loading-text linear 2.5s;
          animation: loading-text linear 2.5s;
}
.black-screen p,
.black-screen .bar-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bar-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-animation: loader 1s linear 2;
          animation: loader 1s linear 2;
}

.bar1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bar2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bar3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bar4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bar5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.bar6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bar7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bar8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.location {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  background-color: #eaeaea;
  padding: 15px;
}
@media (min-width: 768px) {
  .location {
    box-shadow: 0px 4px 4px 0px #cecece;
  }
}
.location p {
  font-size: 18px;
}

.explore-section {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
  flex-direction: column;
  gap: 30px;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .explore-section {
    background-color: transparent;
    justify-content: center;
    width: 50%;
  }
  .explore-section h2 {
    font-size: 30px;
  }
}
.explore-section p {
  font-size: 19px;
  text-align: center;
  color: #888888;
}

.htw-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}
@media (min-width: 768px) {
  .htw-section {
    width: 50%;
    align-items: center;
  }
  .htw-section h2 {
    text-align: center;
    font-size: 30px;
  }
}
.htw-section .htw-steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.htw-section .htw-steps div {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #f6f6f6;
  padding: 25px 0 25px 25px;
  border-radius: 20px;
  font-weight: 500;
  color: #474646;
  box-shadow: 0px 5px 20px 1px #cecece;
}
.htw-section .htw-steps div:hover {
  background-color: #e4d5f6;
}
.htw-section .htw-steps div:hover i {
  color: #9356dc;
}
@media (min-width: 768px) {
  .htw-section .htw-steps div {
    padding: 25px 35px 25px 15px;
  }
}
.htw-section .htw-steps div .number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -36px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: #ffffff;
  font-size: 14px;
}
@media (min-width: 768px) {
  .htw-section .htw-steps div .number {
    font-size: 18px;
    width: 30px;
    height: 30px;
    background-image: linear-gradient(#ff79da, #9356dc);
  }
}
.htw-section .htw-steps div i {
  font-size: 20px;
  width: 30px;
  text-align: center;
}
@media (min-width: 375px) {
  .htw-section .htw-steps div > :last-child {
    font-size: 18px;
  }
}

.restaurant-section {
  padding: 30px 20px;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .restaurant-section > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .restaurant-section {
    padding: 30px 70px;
    text-align: center;
  }
}
.restaurant-section h2 {
  padding: 20px 0;
  align-self: baseline;
}
@media (min-width: 768px) {
  .restaurant-section h2 {
    font-size: 30px;
  }
}
.restaurant-section > div > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  box-shadow: 0px 5px 20px 1px #cecece;
}
@media (min-width: 1024px) {
  .restaurant-section > div > div {
    width: 45%;
  }
}
.restaurant-section > div > div .new {
  position: absolute;
  left: 65%;
  top: 5%;
  background-color: #99e2d0;
  color: #278870;
  padding: 5px 25px;
}
@media (min-width: 375px) {
  .restaurant-section > div > div .new {
    left: 73%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .restaurant-section > div > div .new {
    left: 83%;
    font-size: 18px;
    padding: 7px 30px;
  }
}
@media (min-width: 1440px) {
  .restaurant-section > div > div .new {
    left: 83%;
    font-size: 20px;
    padding: 7px 30px;
  }
}
.restaurant-section > div > div img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-section > div > div div {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.restaurant-section > div > div div div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 5px;
  padding-left: 0;
}
.restaurant-section > div > div div div p {
  color: #838282;
}

.menu > div {
  height: 300px;
  background-size: contain;
  margin-bottom: -95px;
}
@media (min-width: 768px) {
  .menu > div {
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .menu > div {
    height: 450px;
  }
}
@media (min-width: 1440px) {
  .menu > div {
    height: 550px;
  }
}
.menu .background-note {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: right 0% bottom 30%;
}
.menu .background-gout {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
@media (min-width: 768px) {
  .menu .background-gout {
    background-size: cover;
    background-position: right 0% bottom 30%;
  }
}
.menu .background-francaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
@media (min-width: 768px) {
  .menu .background-francaise {
    background-size: cover;
    background-position: right 0% bottom 0%;
  }
}
.menu .background-delice {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
@media (min-width: 768px) {
  .menu .background-delice {
    background-size: cover;
    background-position: right 0% bottom 0%;
  }
}

.menu-section {
  background-color: #f6f6f6;
  padding: 35px 15px;
  border-radius: 40px;
}
.menu-section .name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
  margin-left: 5px;
  font-size: 20px;
}
@media (min-width: 1024px) {
  .menu-section .name {
    justify-content: center;
    gap: 50px;
    font-size: 30px;
  }
  .menu-section .name .fa-solid,
.menu-section .name .fa-regular {
    font-size: 30px;
  }
  .menu-section .name .fa-solid {
    bottom: 30px !important;
  }
}
.menu-section .name .fa-solid {
  bottom: 24px;
}
.menu-section .name h2 {
  font-family: "Shrikhand", cursive;
}
.menu-section .courses {
  margin-bottom: 50px;
}
.menu-section .courses h3 {
  margin-left: 5px;
  font-weight: 300;
}
.menu-section .courses .border {
  border: 1.5px solid #99e2d0;
  width: 50px;
  margin: 2px 2px 20px 5px;
}
.menu-section .courses .dish {
  display: flex;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px 1px #cecece;
}
.menu-section .courses .dish.first {
  -webkit-animation: gradually-appear-first linear 0.7s;
          animation: gradually-appear-first linear 0.7s;
}
.menu-section .courses .dish.second {
  -webkit-animation: gradually-appear-second linear 0.9s;
          animation: gradually-appear-second linear 0.9s;
}
.menu-section .courses .dish.third {
  -webkit-animation: gradually-appear-third linear 1.2s;
          animation: gradually-appear-third linear 1.2s;
}
.menu-section .courses .dish.fourth {
  -webkit-animation: gradually-appear-fourth linear 1.6s;
          animation: gradually-appear-fourth linear 1.6s;
}
.menu-section .courses .dish .check-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0 10px 10px 0;
  padding: 0;
  width: 0;
}
.menu-section .courses .dish .check-icon-container i {
  color: white;
  font-size: 26px;
}
.menu-section .courses .dish:hover > .check-icon-container {
  -webkit-animation: check-animation linear 300ms forwards;
          animation: check-animation linear 300ms forwards;
}
.menu-section .courses .dish:hover > .check-icon-container i {
  -webkit-animation: check-animation-icon linear 300ms;
          animation: check-animation-icon linear 300ms;
}
.menu-section .courses .dish > div {
  display: inline;
  padding: 12px 10px 12px 12px;
  min-width: 0;
}
.menu-section .courses .dish > div p,
.menu-section .courses .dish > div h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-section .courses .dish > div p {
  font-weight: 400;
  color: #696969;
}
.menu-section .courses .dish > div h4 {
  font-size: 18px;
  max-width: 280px;
}
.menu-section .courses .dish .price {
  align-self: flex-end;
  padding: 12px 20px 12px 5px;
  margin-left: auto;
}
@media (min-width: 1024px) {
  .menu-section .courses .dishes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .menu-section .courses .dish {
    width: 32%;
  }
}
.menu-section .button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.menu-section .button-container button {
  padding: 15px 60px;
}
@media (min-width: 768px) {
  .menu-section {
    padding: 35px;
  }
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 3px 4px 0px #cecece;
  position: relative;
}
header img {
  width: 60%;
}
@media (min-width: 768px) {
  header img {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  header img {
    width: 40%;
  }
}
@media (min-width: 1440px) {
  header img {
    width: 30%;
  }
}

.header-menu > a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.header-menu > a img {
  width: 55%;
}
@media (min-width: 768px) {
  .header-menu > a img {
    width: 80%;
    padding: 10px;
  }
}
.header-menu > a i {
  position: absolute;
  left: 5%;
  font-size: 22px;
}
@media (min-width: 768px) {
  .header-menu > a i {
    font-size: 50px;
  }
}

footer {
  background-color: #353535;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
}
@media (min-width: 768px) {
  footer {
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  footer h1 {
    margin: 0 40px 0 20px;
  }
}
footer > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  footer > div {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  footer > div {
    gap: 50px;
  }
}
footer > div div {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer > div div i {
  width: 15px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none !important;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  color: #ffffff;
  border-radius: 50px;
  background-image: linear-gradient(#ff79da, #9356dc);
  padding: 15px 25px;
  font-weight: 400;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 20px 3px #cecece;
}
button:hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 20px 5px #cecece;
}

.heart-button {
  bottom: 25px;
  display: flex;
  flex-flow: column;
  font-size: 24px;
  cursor: pointer;
  height: 33px;
  background-color: transparent;
  border: none;
}
.heart-button .fa-solid {
  position: relative;
  bottom: 29px;
  font-size: 24.4px;
  color: transparent;
}
.heart-button .fa-solid:hover {
  transform: scale(1);
  -webkit-animation: heart-appear 300ms forwards;
          animation: heart-appear 300ms forwards;
}
.heart-button .fa-solid:active {
  transform: scale(1);
  -webkit-animation: heart-appear 300ms forwards;
          animation: heart-appear 300ms forwards;
}