@include tablet {
  .info-section {
    display: flex;
  }
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  border: 16px solid #fbf8f8; 
  border-top: 16px solid $colour-primary; 
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin linear 2s;
  z-index: 1;
  opacity: 0;
}

.location {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  background-color: #eaeaea;
  padding: 15px;

  @include tablet {
    box-shadow: 0px 4px 4px 0px #cecece;
  }

  p {
    font-size: 18px;
  }
}

.explore-section {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
  flex-direction: column;
  gap: 30px;
  background-color: #f6f6f6;

  @include tablet {
    background-color: transparent;
    justify-content: center;
    width: 50%;

    h2 {
      font-size: 30px;
    }
  }
  p {
    font-size: 19px;
    text-align: center;
    color: #888888;
  }
}

.htw-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;

  @include tablet {
    width: 50%;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 30px;
    }
  }
  .htw-steps {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
    }

    div {
      display: flex;
      gap: 10px;
      align-items: center;
      background-color: #f6f6f6;
      padding: 25px 0 25px 25px;
      border-radius: 20px;
      font-weight: 500;
      color: #474646;
      box-shadow: 0px 5px 20px 1px #cecece;

      @include tablet {
        padding: 25px 35px 25px 15px;
      }

      .number {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -36px;
        background-color: $colour-primary;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        color: #ffffff;
        font-size: 14px;

        @include tablet {
          font-size: 18px;
          width: 30px;
          height: 30px;
          background-image: $colour-mix-ps;
        }
      }

      i {
        font-size: 20px;
        width: 30px;
        text-align: center;
      }

      @include phone {
        & > :last-child {
          font-size: 18px;
        }
      }
    }
  }
}

.restaurant-section {
  padding: 30px 20px;
  background-color: #f6f6f6;

  @include laptop {
    & > div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  @include tablet {
    padding: 30px 70px;
    text-align: center;
  }

  h2 {
    padding: 20px 0;
    align-self: baseline;

    @include tablet {
      font-size: 30px;
    }
  }

  & > div > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    box-shadow: 0px 5px 20px 1px #cecece;

    @include laptop {
      width: 45%;
    }

    .new {
      position: absolute;
      left: 65%;
      top: 5%;
      background-color: $colour-tertiary;
      color: darken($colour-tertiary, 40%);
      padding: 5px 25px;

      @include phone {
        left: 73%;
      }

      @include only-tablet {
        left: 83%;
        font-size: 18px;
        padding: 7px 30px;
      }

      @include desktop {
        left: 83%;
        font-size: 20px;
        padding: 7px 30px;
      }
    }

    img {
      width: 100%;
      height: 180px;
      border-radius: 15px 15px 0 0;
      object-fit: cover;
    }

    div {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;

      div {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 5px;
        padding-left: 0;

        p {
          color: #838282;
        }
      }

      i {
        font-size: 25px;
        padding-top: 10px;
        padding-right: 10px;
        cursor: pointer;
        color: #9d9a9a;
      }
    }
  }
}
