.menu {
  & > div {
    height: 300px;
    background-size: contain;
    margin-bottom: -95px;

    @include tablet {
      height: 400px;
    }

    @include laptop {
      height: 450px;
    }
    @include desktop {
      height: 550px;
    }
  }

  .background-note {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position: right 0% bottom 30%;
  }

  .background-gout {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);

    @include tablet {
      background-size: cover;
      background-position: right 0% bottom 30%;
    }
  }
  .background-francaise {
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include tablet {
      background-size: cover;
      background-position: right 0% bottom 0%;
    }
  }

  .background-delice {
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include tablet {
      background-size: cover;
      background-position: right 0% bottom 0%;
    }
  }
}

.menu-section {
  background-color: #f6f6f6;
  padding: 35px 15px;
  border-radius: 40px;

  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 5px;
    font-size: 20px;

    h2 {
      font-family: $font-titles;
    }
  }

  .courses {
    margin-bottom: 50px;

    h3 {
      margin-left: 5px;
      font-weight: 300;
    }

    .border {
      border: 1.5px solid $colour-tertiary;
      width: 50px;
      margin: 2px 2px 20px 5px;
    }
    .dish {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      padding: 12px;
      border-radius: 15px;
      font-weight: 600;
      margin-bottom: 20px;
      box-shadow: 0px 5px 20px 1px #cecece;

      &.first {
        animation: gradually-appear-first linear 0.7s;
      }
      &.second {
        animation: gradually-appear-second linear 0.9s;
      }
      &.third {
        animation: gradually-appear-third linear 1.2s;
      }
      &.fourth {
        animation: gradually-appear-fourth linear 1.6s;
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          font-weight: 400;
          color: #696969;
        }

        h4 {
          font-size: 18px;
          max-width: 280px;
        }
      }
      .price {
        align-self: flex-end;
      }
    }

    @include laptop {
      .dishes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
      }

      .dish {
        width: 32%;
      }
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      padding: 15px 60px;
    }
  }

  @include tablet {
    padding: 35px;
  }
}
