@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes gradually-appear-first {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  20% {
    transform: translateY(20px);
    opacity: 0;

  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-second {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  40% {
    transform: translateY(20px);
    opacity: 0;

  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-third {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  60% {
    transform: translateY(20px);
    opacity: 0;

  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes gradually-appear-fourth {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  70% {
    transform: translateY(20px);
    opacity: 0;

  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}