@keyframes black-screen {
  0% {
    background-color: #00000051;
    z-index: 1;
  }

  99% {
    background-color: #00000051;
  }

  100% {
    background-color: transparent;
    z-index: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    z-index: 1;
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
    z-index: 1;
  }
}

@keyframes gradually-appear-first {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  20% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-second {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  40% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-third {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  60% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes gradually-appear-fourth {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  70% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heart-appear {
  0% {
    -webkit-text-fill-color: #ff000000;
  }
  20% {
    -webkit-text-fill-color: #ff000033;
  }
  40% {
    -webkit-text-fill-color: #ff000066;
  }
  60% {
    -webkit-text-fill-color: #ff000099;
  }
  80% {
    -webkit-text-fill-color: #ff0000cc;
  }

  100% {
    -webkit-text-fill-color: #ff0000;
  }
}

@keyframes check-animation {
  0% {
    display: flex;
    width: 0;
  }

  100% {
    display: flex;
    width: 60px;
  }
}

@keyframes check-animation-icon {
  100% {
    transform: rotate(360deg);
  }
}
