@keyframes black-screen {
  0% {
    background-color: white;
    z-index: 1;
  }

  100% {
    background-color: white;
    z-index: 1;
  }
}

@keyframes loading-text {
  0% {
    background: $colour-mix-ps;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }

  100% {
    background: $colour-mix-ps;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: transparent;
  }
  50% {
    transform: scaleY(1);
    background: $colour-mix-ps;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}

@keyframes gradually-appear-first {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  20% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-second {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  40% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes gradually-appear-third {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  60% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes gradually-appear-fourth {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  70% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heart-appear {
  0% {
    background-image: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background-image: $colour-mix-ps;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes check-animation {
  0% {
    display: flex;
    width: 0;
  }

  100% {
    display: flex;
    width: 60px;
  }
}

@keyframes check-animation-icon {
  100% {
    transform: rotate(360deg);
  }
}
