$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;

$colour-mix-ps: linear-gradient($colour-secondary, $colour-primary); 
$colour-mix-ps-ligthen5: linear-gradient(lighten($colour-secondary, 5%),lighten($colour-primary, 5%));


$font-titles: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;
