footer {
  background-color: #353535;
  padding: 20px;    
  color: #ffffff;
  font-size: 15px;
  display: flex;
  align-items: center;

  @include tablet {
    padding: 35px;
  }

  h1 {
    font-family: $font-titles;
    font-size: 18px;
    margin-bottom: 20px;

    @include tablet {
      margin: 0 40px 0 20px;
    }
  }

  &> div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include tablet {
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;

      i {
        width: 15px;
      }

    }
  }

}